.tasks-list {
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.tasks-list__empty {
  text-align: center;
}

.tasks-list::-webkit-scrollbar {
  width: 0.7rem;
}

.tasks-list::-webkit-scrollbar-thumb {
  background: rgb(29, 58, 58);
  border-radius: 1rem;
}
