.theme-button {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgb(139, 139, 139);
  padding: 1.3rem;
  border-radius: 5rem;
  right: 2rem;
  top: 2rem;
  width: 6rem;

  font-size: 2.3rem;
}
