.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container--dark-mode {
  background-color: rgb(29, 58, 58);
  color: white;
}

.app-container--light-mode {
  color: rgb(29, 58, 58);
  background-color: rgb(216, 216, 216);
}

.todo-app {
  display: flex;
  max-height: 75vh;
  width: 60%;
  max-width: 1200px;
  flex-direction: column;
  align-items: stretch;
  padding: 3rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
}

.todo-app--dark-mode {
  background-color: #435457;
}

.todo-app--light-mode {
  background-color: #97adb1;
}

@media (max-width: 768px) {
  .app-container {
    align-items: stretch;
  }

  .todo-app {
    width: auto;
    height: 70vh;
    margin: 0 1rem;
  }
}

@media (max-width: 450px) {
  .todo-app {
    padding: 1rem;
  }
}
